<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

<head>
    <link rel="stylesheet" type="text/css" href="static/css/index2.css"/>
    <meta charset="utf-8">
    <title>Pedidos</title>
</head>
<body>
    <div class="form-group">
      <h1>To-Do <small>List</small></h1>
    <form role="form">
        <input type="text" class="form-control" placeholder="Your Task" name="task">
    </form>
    <button type="button" class="btn btn btn-primary">Add</button>
        </div>
        <div></div>
    <ul class="list-unstyled" id="todo"></ul>
    <script type="text/javascript" src="static/js/index2.js"></script>
</body>